*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: a;
    border-style: none;
    list-style: none;
    text-decoration: none;
}
a{
    color: #fff;
}

#homepage{
    background-color:#fff;
    width: 100vw;
    height: 100vh;
}
#homepage>nav{
    background-color: #ffffff9a;
    z-index: 9;
    height: 10vh;
    width: 100vw;
    display: flex;
    position:fixed;
    justify-content: space-between;
    padding: 1.5vw 8vw;
}
#homepage>nav>ul{
    display: flex;
}
#homepage>nav>ul>li{
    margin: 0 1vw;
    list-style: none;
}
#homepage>nav>ul>li>a{
    color: #000;
}
#homepage>nav>ul>li>a:hover{
    color: #b21925;
}
#homepage>nav>button{
    width: 5vw;
    border-radius: 20px;
    border-style: none;
    border: 1px solid #000;
    background-color: transparent;
    transition: all 0.3s ease;
}
#homepage>nav>button:hover{
    background-color: #b21925;
    color: #fff;
    font-weight: bold;
    border: 1px solid #b21925;
    
}
#page1{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 18vh 12vw 1vw;
    justify-content: space-between;
}

#page1>.text{
    width: 40vw;
    text-align: center;
}
#page1>.text>h1{
    font-size: 12vh;
    margin: 2vw 0 ;
}
#page1>.text>h3{
    font-size: 2vh;
    margin-bottom: 2vw ;
}
#page1>.text>.button>button{
    border: 1px solid #b21925;
    width: 10vw;
    height: 5vh;
    font-weight: bolder;
}
#page1>.text>.button>button:first-child{
    background-color: #b21925
    ;
    color: #fff;
}
#page1>.text>.button>button:last-child{
    color: #b21925
    ;
}
#page2{
    background-color: #b21925
    ;
    width: 100vw;
    height: 100vh;
}
#page2 img{
    width: 100%;
    height: 100%;
}
#page2 div{
    width: 100vw;
    height: 20vh;
    transition: height 1s;
    -webkit-transition: height 1s;
    background-color: #00000043;
    z-index: 9;
    position: relative;
    bottom: 30vh;
    font-size: 10vh;
    
}
#page2 div h1{
    position: relative;
    right: -100vw;
    color:#fff ;
    animation-name: anim;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anim{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translateX(-200%);
    }

}
#page3{
    width: 100vw;
    height: 100vh;
}
#page3>.show{
    display: flex;
    padding:0vw;
}

#page3>.show>.text{
    margin-top: 20vh;
    width: 40vw;
    border-radius: 20%;
    padding: 4vh 0 ;
    font-size: 9vh;
    text-align: center;
    
}
#page3>.show>.text>h2,#page3>.show>.text>h6{
    font-size: 3vh;
    color: #b21925;
}
#page3>.show>.text>button{
    position: relative;
    bottom: 20px;
    width: 8vw;
    height: 6vh;
    color: #fff;
    border-radius: 12px;
    background-image: radial-gradient(#b21925 100%,#fff 0% );
    transition: all 1s ease;
    z-index: 9;
}
#page3>.show>.text>button:hover{
    border: 2px solid  #b21925;
    background-image: radial-gradient(#fff 100%,#b21925 0%);
    color: #000;
}
#page4{
    width: 100vw;
    height: 110vh;
    position: relative;
    padding: 18vh 8vw  0;
}

#page4>h4{
    font-size: 1.5vw;
}
#page4 .display{
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}
#page4 .display .inner{
    position: relative;
    bottom: 80px;
    text-align: center;
}
#page4 .display .inner button{
    border-radius: 40px;
    background-color: #fff;
    width: 10vw;
    height: 6vh;
    font-size: 2vh;
    transition: all 0.3s ease;
}
#page4 .display .inner button:hover{
    background-color: #ffffff9a;
    color:#fff;
    font-weight: bold;
}
#page4 .display .inner button a{
    color: #000;
}

#page5{
    width: 100vw;
    height: 100vh;
    padding: 18vh 5vw 5vh;
}
#page5 .display, #page5 .display div{
    display: flex;
    justify-content: space-between;
}
#page5 .display img{
    width: 400px;
    height: 450px;
    border-radius: 10px;
    animation: wipe-enter 1s 1 ;
}
#page5 .display div button{
    position: relative;
    width: 6.5vw;
    height: 5vh;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: #00000082;
    color: #fff;
    top: 85%;
    left: -50%;
}
#page5 .display div button:hover{
    background-color: transparent;
}
#page5 .display div button a{
    color: #fff;
}
footer{
    width: 100vw;
    height: 50vh;
    background-color: #000;
}
footer .links{
    padding: 7vh 15vh ;
    display: flex;
    width: 60vw;
    height: 30vh;
    justify-content: space-between;
}
footer .links li{
    font-size: 20px;
    height: 35px;
    color: #fff;
}
footer .links li a{
    color: #ffffff9a;
}
footer .links li a:hover{
    color: rgb(251, 79, 79);
}
footer .subfooter{
    padding: 0 8vw 0;
    color: #ffffff9a;
    position: relative;
    bottom: -80px;
    display: inline-block;
}
footer .subfooter h5{
    margin-left: 20px;
    font-size: 15px;
}